<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section id="header">
        <div class="logo">
            <h3>Hostel <span>Allotment</span></h3>
          </div>
        <div>
            <ul id="navbar">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="#feature">Facilities</a></li>
                <li><a  href="hostels">Hostels</a></li>
                <li><a href="warden" >Warden</a></li>
                <li><a href="contact">Contact</a></li>   
            </ul>
        </div>
    </section>

    <section id="hero">
        <h4 style="color: white;">Welcome to</h4>
        <h2 >Shri Vishnu Engineering </h2>
        <h2>College for Women</h2>
        <p style="color:white;size: 15;"><b>A perfect place to chase your dreams...</b></p>
        <button class="white"><a href="hostels" style="text-decoration:none ; color:aliceblue">Book your Bed</a></button>
    </section>


    <section id="feature" class="section-p1" name="">
      <div class="fe-box">
          <img src="ATM.jpg" alt="">
          <h6> 24/7 Atm Service</h6>
      </div>
      <div class="fe-box">
          <img src="foodcourt.jpg" alt="">
          <h6>Food Courts</h6>
      </div>
      <div class="fe-box">
          <img src="gym.jpg" alt="">
          <h6>Gym</h6>
      </div>
      </div>
      <div class="fe-box">
          <img src="library.jpg" alt="">
          <h6>Library</h6>
      </div>
      <div class="fe-box">
          <img src="powerbackup.jpg" alt="">
          <h6>power Backup</h6>
      </div>
      <div class="fe-box">
          <img src="wifi.jpg" alt="">
          <h6>24/7 wifi</h6>
      </div>
      <div class="fe-box">
        <img src="swimming.jpeg" alt="">
        <h6>Swimming</h6>
    </div>
    <div class="fe-box">
        <img src="sports.jpeg" alt="">
        <h6>Sports</h6>
    </div>
    
  </section>





</body>
</html>